nav ul li {
    
    display: inline;
 
}
	
h4{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;

}

nav{
    
   position: relative;
   left: 500px;
   font-size: 20px;
}



#Textos .artigo1{

    

}